<html>
  <head>
    <title>Meadowlark Travel</title>
  </head>
  <body>
    <header>
      <img src="/img/logo.png" height="80" alt="Meadowlark Travel Logo" />
    </header>
    {{{body}}}
  </body>
</html>